.app {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.btn {
  display: block;
  margin: 100px 20px 0;
  height: 30px;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 15px;
  font-size: 12px;
  color: #333;
  text-align: center;
  outline: none;
  cursor: pointer;
}
.origin, .parse {
  display: block;
  margin: 20px;
  width: 30%;
  min-height: 200px;
  border: 1px solid #999;
}
label {
  display: block;
  margin: 10px 0;
}

/* layout */
.ant-layout-header_extend {
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
}
.ant-layout-content {
  padding: 0 0 25px;
}
.download-button-box {
  display: block;
  margin: 30px auto 0;
  text-align: center;
}
.download-button-box .download-button {
  margin: 0 10px;
}
.ant-layout-content_extend-property {
  margin: 10px;
  flex: 0 0 200px;
  height: 672px;
  border: 2px dotted #e0e0e0;
}
.ant-layout-content_extend-property .property-title {
  margin: 10px;
  font-size: 18px;
  text-align: center;
}
.ant-layout-content_extend-property .delete-button,
.ant-layout-content_extend-property .move-button
{
  display: block;
  margin: 10px auto;
}
